.container {
	container-type: inline-size;
}
.productList {
    display: grid;
    /* grid-template-columns: repeat(5, 15rem); */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
    grid-gap: 1rem;
}

.productList > * {
    justify-self: center;
}

@container (min-width: 900px) {
	.productList {
		grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));	
		grid-gap: 1rem;
	}
	
	.productList > * {
		width: 15rem;
	}
}

/* 
@container (min-width: 900px) {
	.productList {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
	
	.productList > * {
		width: 15rem;
	}
} */
