.page {
    container-type: inline-size;
    width: 100%;
}

@container (min-width: 1040px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 3fr));
        grid-gap: 1rem;
    }
}

@container (max-width: 1039px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 3fr));
        grid-gap: 1rem;
    }
}

@container (max-width: 600px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9.5rem, 2fr));
        grid-gap: 1rem;
    }
}

@container (max-width: 425px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 2fr));
        grid-gap: 0.5rem;
    }
}

@container (max-width: 375px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6.5rem, 2fr));
        grid-gap: 0.5rem;
    }
}
