.addButton {
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.addButton:hover, .addButton:active {
    background-color: #ccc;
}

.addButton--alt {
    background-color: #8b5cf6;
    color: #fff;
}

.addButton--alt:hover, .addButtonutton--alt:active {
    background-color: #7c3aed;
}
