.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
	height: 30rem;
    padding: 1rem;
    border-radius: 4px;
	border: 1px solid rgba(128, 220, 243, 0.721);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.093);
    transition: all 0.3s ease-out;
}

.productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.imageContainer {
	display: block;
    position: relative;
    width: inherit;
    object-fit: cover;
    object-position: center;
	filter: contrast(175%) brightness(90%);
}

.productTitle {
    width: inherit;
	text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productPrice {
    /* text-decoration: line-through; */
}

/* .productOptionsLink {
} */

.discountPrice {
	color: #ff0000;
	min-height: 1rem;
}