html {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Roboto, Quicksand, cursive;
	font-size: 1rem;
    font-weight: 400;
    color: #212121;
}