.container {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border: 3px solid #ccc;
    border-radius: 0.3rem;
    padding: 5px 0 0 5px;
}

.searchInput {
    width: 100%;
    padding: 0 10px;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

